<dx-gantt
    [taskListWidth]="300"
    [scaleType]="'minutes'"
    height="700"
    taskTitlePosition="none">

    <dxi-strip-line
        [start]="tasks[0].start"
        title="Start">
    </dxi-strip-line>
    <dxi-strip-line
        [start]="tasks[tasks.length - 3].start"
        [end]="tasks[tasks.length - 1].end"
        title="Final Phase">
    </dxi-strip-line>
    <dxi-strip-line
        [start]="currentTime"
        title="Current Time"
        cssClass="current-time">
    </dxi-strip-line>

    <dxo-toolbar>
        <dxi-item name="undo"></dxi-item>
        <dxi-item name="redo"></dxi-item>
        <dxi-item name="separator"></dxi-item>
        <dxi-item name="collapseAll"></dxi-item>
        <dxi-item name="expandAll"></dxi-item>
        <dxi-item name="separator"></dxi-item>
        <dxi-item name="addTask"></dxi-item>
        <dxi-item name="deleteTask"></dxi-item>
        <dxi-item name="separator"></dxi-item>
        <dxi-item name="zoomIn"></dxi-item>
        <dxi-item name="zoomOut"></dxi-item>
    </dxo-toolbar>
    
    <dxo-validation [autoUpdateParentTasks]="true"></dxo-validation>
    <dxo-editing [enabled]="true"></dxo-editing>

    <dxo-tasks [dataSource]="tasks"></dxo-tasks>

    <dxi-column dataField="title" caption="Task" [width]="300"></dxi-column>
</dx-gantt>

